---
import { getCollection } from "astro:content";
import Base from "../../layouts/Base.astro"
import Contents from "@layouts/Contents.astro";

// const posts = await getCollection('blog')
        //    {
                // posts?.map(post => (
                //     <li>
                //         <a href={`blog/${post.slug}`}>{post.data.title}</a>
                //     </li>
                // ))
            // }
---

<Contents title="BLOG", subtitle="">
        <ul>
        </ul>
</Contents>
