---
import { getCollection } from "astro:content";
import Base from "../../layouts/Base.astro"
import Contents from "@layouts/Contents.astro";

const books = await getCollection('library')
---

<Contents title="LIBRARY">
        {
            books.map(book => (
                <li>
                    <a href={book.slug}>
                        {book.data.title}    
                    </a>
                </li>
            ))
        }
</Contents>