---
import Base from "./Base.astro";

const { title, subtitle } = Astro.props
---

<Base>
    <div class="my-12 pt-12 md:my-24">
    <h1 class="font-oskon text-center text-6xl md:text-9xl">{title}</h1>
    <h1 class="font-oskon text-3xl">{subtitle}</h1>
    </div>
    <slot />
    <div class=" h-[1000px]"></div>
</Base>